<%= simple_form_for [:admin, @badge], html: {class: 'responsive', multipart: true} do |f| %>
  <div class="form-inputs">
    <%= f.input :name, input_html: {class: 'span6'} %>
    <%= f.input :description, input_html: {class: 'span6', rows: 3}, hint: 'Badge detailed description.' %>
    <%= f.input :message, input_html: {class: 'span6', rows: 3}, hint: 'User will see it when earn the badge.' %>
    <%= f.input :filename, placeholder: 'e.g: my_badge', hint: 'Filename with earning badge conditions. Without .rb extension.' %>
    <%= f.input :points, as: :integer, input_html: {class: 'span1'} %>
    <%= f.input :invertable, as: :boolean, label: 'User losts the badge when he stops fullfiling conditions.' %>
    <%= f.input :icon, as: :image_preview, input_html: {preview_version: :medium} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit,  class: 'btn btn-success' %>
  </div>

<% end %>
