<%= link_to 'New Badge', new_admin_badge_path, class: 'btn btn-success pull-right' %>
<h1 class="page-header">Listing badges</h1>

<% if @not_configured_badges.present? %>
  <%= render 'shared/flash', alert: "Following badges have been defined and activated but not configured:<br />
    #{@not_configured_badges.collect {|b| b.to_s.camelcase }.join(", ")}".html_safe %>
<% end %>

<% if @badges.present? %>
  <table id="badges_list" class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>Icon</th>
        <th>Name</th>
        <th>Description</th>
        <th>Message</th>
        <th>Filename</th>
        <th>Points</th>
        <th>Status</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @badges.each do |badge| %>
        <tr id="badge_<%= badge.id -%>">
          <td><%= link_to image_tag(badge.icon.url(:thumb)), [:admin, badge] %></td>
          <td><%= link_to badge.name, [:admin, badge] %></td>
          <td><%= truncate badge.description %></td>
          <td><%= badge.message %></td>
          <td><%= badge.filename %>.rb</td>
          <td><%= badge.points %></td>
          <td>
            <% if User.badge_defined? badge.filename -%>
              <%= content_tag :span, 'defined', class: "label label-info" %>
              <% if User.badge_activated? badge.filename %>
                <%= content_tag :span, 'activated', class: "label label-success" %>
              <% else %>
                <%= content_tag :span, 'not activated', class: "label label-warning" %>
              <% end %>
            <% else %>
              <%= content_tag :span, 'not defined', class: "label label-warning" %>
            <% end %>
          </td>
          <td><%= link_to 'Edit', [:edit, :admin, badge], class: 'btn btn-primary' %></td>
          <td><%= link_to 'Destroy', [:admin, badge], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>

