<h1>Badge</h1>

<p>
  <strong>Name:</strong>
  <%= @badge.name %>
</p>

<p>
  <strong>External Description:</strong>
  <%= @badge.external_description %>
</p>

<p>
  <strong>Internal Description:</strong>
  <%= @badge.internal_description %>
</p>

<p>
  <strong>Message:</strong>
  <%= @badge.message %>
</p>


<p>
  <strong>Filename:</strong>
  <%= @badge.filename %>.rb
</p>

<p>
  <strong>Points:</strong>
  <%= @badge.points %>
</p>

<p>
  <strong>Invertable:</strong>
  <%= @badge.invertable %>
</p>

<p>
  <strong>Secret:</strong>
  <%= @badge.secret? ? 'Yes' : 'No' %>
</p>


<p>
  <%= image_tag @badge.icon.url(:big) %>
  <%= image_tag @badge.icon.url(:medium) %>
  <%= image_tag @badge.icon.url(:thumb) %>
</p>

<%= link_to 'Edit', [:edit, :admin, @badge] %> |
<%= link_to 'Back', admin_badges_path %>
